# Dependency folders
node_modules/
apps/web/node_modules/

# Production builds
dist/
apps/web/dist/

# Secret Environment Variables
.env
.env.local
.env.development
.env.production
apps/web/.env.development
apps/web/.env.production

# IDE files & logs
.vscode/
.qodo/
npm-debug.log*